/*member page*/

.member {
  display: flex;
  flex-direction: column;
}

.banner-member {
  position: absolute;
  width: 1440px;
  height: 766px;
  left: 0px;
  top: 101px;
}

#question {
  position: absolute;
  width: 438px;
  height: 42px;
  left: 822px;
  top: 268px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

#answer {
  position: absolute;
  width: 430px;
  height: 85px;
  left: 839px;
  top: 370px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
}

.sign-up {
  position: absolute;
  width: 163px;
  height: 36px;
  left: 850px;
  top: 729px;
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  background: #219317;
  color: #FFFEFE;
}

/*member page - our benefits*/

#benefits-title {
  position: absolute;
  width: 309px;
  height: 64px;
  left: 560px;
  top: 972px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 64px;
  color: #000000;
}

#farm {
  position: absolute;
  width: 229px;
  height: 232px;
  left: 102px;
  top: 1134px;
}

#learning {
  position: absolute;
  width: 244px;
  height: 177px;
  left: 94px;
  top: 1411px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
}

#b2 {
  position: absolute;
  width: 334px;
  height: 573px;
  left: 377px;
  top: 1106px;
  background: #F9F9F9;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
}

#globe {
  position: absolute;
  width: 225px;
  height: 225px;
  left: 781px;
  top: 1141px;    
}

#inventory-db {
  position: absolute;
  width: 269px;
  height: 177px;
  left: 759px;
  top: 1406px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
}

#b4 {
  position: absolute;
  width: 334px;
  height: 573px;
  left: 1076px;
  top: 1101px;
  background: #F9F9F9;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
}