html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}



/* start of actuall CSS*/
body {
    font-family: Roboto, sans-serif;
}

/*navigation bar*/
.nav {
    width: 100%;
    height: 106px;
    background: #c4c4c4;
    overflow: hidden;
}

.title {
    position: absolute;
    float: left;
    left: 63px;
    top: 30px;
    font-size: 25px;
}

.nav-right {
    float: right;
    margin-top: 35px;
    margin-right: 20px;
}

.nav-right a {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.icon {
    display: none;
}

/*end of navigation bar*/

/*member page*/

.member {
    display: flex;
    flex-direction: column;
}

.banner-member {
    position: absolute;
    width: 1440px;
    height: 766px;
    left: 0px;
    top: 101px;
}

#question {
    position: absolute;
    width: 438px;
    height: 42px;
    left: 822px;
    top: 268px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

#answer {
    position: absolute;
    width: 430px;
    height: 85px;
    left: 839px;
    top: 370px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
}

.sign-up {
    position: absolute;
    width: 163px;
    height: 36px;
    left: 850px;
    top: 729px;
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    background: #219317;
    color: #FFFEFE;
}

/*member page - our benefits*/

#benefits-title {
    position: absolute;
    width: 309px;
    height: 64px;
    left: 560px;
    top: 972px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    color: #000000;
}

#first-benefit {
    position: absolute;
    width: 229px;
    height: 232px;
    left: 102px;
    top: 1134px;
}

#learning {
    position: absolute;
    width: 244px;
    height: 177px;
    left: 94px;
    top: 1411px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}

#b2 {
    position: absolute;
    width: 334px;
    height: 573px;
    left: 377px;
    top: 1106px;
    background: #F9F9F9;
}

#second-benefit {
    position: absolute;
    left: 25%;
    right: 24.69%;
    top: 21.88%;
    bottom: 9.38%;
}

/* #prep-preserve {
    position: absolute;
    width: 244px;
    height: 220px;
    left: 422px;
    top: 1406px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #000000;
} */

#third-benefit {
    position: absolute;
    left: 14.06%;
    right: 14.06%;
    top: 1.56%;
    bottom: 26.56%;
}

/* #inventory-db {
    position: absolute;
    width: 269px;
    height: 177px;
    left: 759px;
    top: 1406px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #000000;
} */

#b4 {
    position: absolute;
    width: 334px;
    height: 573px;
    left: 1076px;
    top: 1101px;
    background: #F9F9F9;
}

/*footer*/

footer {
    float: left;
    display: flex;
    width: 100%;
    height: 350px;
    left: 0px;
    font-weight: ;
    background: #c4c4c4;
}

#contact-container {
    margin-left: 5%;
    width: 50%;
    margin-top: 5%;
}

#contact {
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

#follow {
    margin-top: 15px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

#social-container {
    margin-top: 30px;
}

#instagram {
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#twitter {
    margin-left: 5%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#linkedIn {
    margin-left: 5%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#newsletter-container {
    text-align: left;
    float: right;
    width: 50%;
    margin-top: 5%;
}

#news-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

#sign-up {
    margin-top: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

#email {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* border-bottom: 1px solid #000000; */
}

/*end of footer*/


@media screen and (max-width: 820px) {
    .nav-right a {
        display: none;
    }

    .nav-right a.icon {
        float: right;
        display: block;
        margin-top: -5px;
    }
}

@media screen and (max-width: 820px) {
    .nav.responsive {
        position: relative;
        height: auto;
    }

    .nav.responsive .icon {
        position: absolute;
        margin-top: 30px;
        margin-right: 35px;
        right: 0;
        top: 0;
    }

    .nav.responsive .nav-right a:not(:last-child){
        position: relative;
        margin-top: 30px;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    
     footer {
    display: inline-block;
    height: auto;
    width: 100%;
  }

  #contact-container {
    margin-left: 10%;
    width: 90%;
    margin-top: 10%;
  }
  #newsletter-container {
    float: left;
    margin-left: 10%;
  }
  #email {
    margin-bottom: 70px;
  }

  #backToTop{
	  margin-bottom: 10%;
  }
}

