/* Mobile Sizes */

.content
{
    box-sizing: border-box;
    width: 100%;
    display: block;
    min-height: 90vh;
}

/* Contact Page */

/* Index Page */

.home-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/heroimage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
}

.logo
{
    font-size: 70px;
    color: #ffffff;
}

.home-content p:last-of-type
{
    font-size-adjust: 20px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    color: #ffffff;
}

.index-cta
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 300px;
}

#btnLOG, #btnUP
{
    background-color: #219317;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

/* About Page */

#aboutTOP
{
    display: block;
    width: 90%;
    margin: 0px auto;
    text-align: center;
}

#aboutTOP h1
{
    margin: 10px auto;
    font-size: 26px;
}

#aboutTOP p
{
    font-size: 18px;
    margin-bottom: 10px;
}

#aboutGRID
{
    display: block;
    margin: 20px auto;
}

.content-vision, .content-mission
{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.gridIMG
{
    display: flex;
    justify-content: center;
}

.gridTEXT
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}

.gridTEXT h3
{
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.gridTEXT p
{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    width: 90%;
}

#aboutPARTNER
{
    display: block;
    text-align: center;
    margin: 20px auto;
    min-height: 200px;
}

.partnerPOSI
{
    display: flex;
    flex-direction: column;
    min-height: inherit;
}

#aboutPARTNER h3 
{
    font-size: 28px;
    margin-bottom: 10px;
    justify-self: flex-start;
}

#aboutPARTNER p
{
    font-size: 16px;
    margin: auto;
}

.content-vision img, .content-mission img
{
    width: 100%;
}

#aboutTEAM
{
    margin: 20px auto;
    background-color: #f6f6f6;
    margin-bottom: 0px;
    padding-top: 20px;
}

#aboutTEAM h3
{
    text-align: center;
    font-size: 28px;
}

.team-cards
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.card img
{
    width: 50%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card p
{
    width: fit-content;
    text-align: center;
}

/* Tablet Sizes */
@media(min-width: 600px)
{
    /* Contact Tablet */

    /* Index Tablet */

    /* About Tablet */

    .content-vision, .content-mission
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
    }

    .content-mission{
        direction: rtl;
    }

    .team-cards
    {
        flex-direction: row;
    }

    .card img
    {
        width: 110px;
    }
}


/* Desktop Sizes */

/* Contact Desktop */

/* Index Desktop */

/* About Desktop */