/* Mobile Sizes */

.content
{
    box-sizing: border-box;
    width: 100%;
    display: block;
    height: 90vh;
}

/* Contact Page */

/* Index Page */

.home-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/heroimage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
}

.logo
{
    font-size: 70px;
    color: #ffffff;
}

.home-content p:last-of-type
{
    font-size-adjust: 20px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    color: #ffffff;
}

.index-cta
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 300px;
}

#btnLOG, #btnUP
{
    background-color: #219317;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

/* About Page */

/* Tablet Sizes */

/* Contact Tablet */

/* Index Tablet */

/* About Tablet */

/* Desktop Sizes */

/* Contact Desktop */

/* Index Desktop */

/* About Desktop */